body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right,rgb(66, 20, 71),rgb(12, 23, 64));
}
h1{
    text-align: center;
    color: blanchedalmond;
}
form{
    color: antiquewhite;
}